.container
  .row
    .col-xs-2
    .col-xs-8
      %h4
        = @author.firstname
        = @author.lastname
      %h5
        %p{:align => "justify"}= @author.biography
      %h5
        Books:
        - @author.books.each do |book|
          %p
          .glyphicon.glyphicon-book
            = link_to book.title, book
    .col-xs-2
