.container-fluid
  / .row
  /   .col-lg-4
  /   .col-lg-4
  /     .media
  /       %h4.media-heading= @book.title
  /       .media-left.media-middle
  /         =image_tag('no_img.png', class: "img-responsive")
  /       .media-body
  /         %p{:align => "justify"}= @book.description
  /     .row
  /       %h4.form.form-inline.text-right
  /         = number_to_currency @book.price
  /         %input.form-control
  /         %button.btn.btn-primary{:type => "submit"} ADD TO CART
  /   .col-lg-4

  .container
  .row
    .col-md-2
    .col-md-8
      .col-sm-12
        .visible-xs-block.text-center
          %h4.media-heading= @book.title
        .hidden-xs
          %h4.media-heading= @book.title
      .col-sm-3.col-md-3
        =image_tag('no_img.png', class: "img-responsive center-block")
      .col-sm-9.col-md-9
        %p{:align => "justify"}= @book.description
      .col-sm-12
        %h4.form-inline.pull-right
          = number_to_currency @book.price
          %input.form-control
          %button.btn.btn-primary{:type => "submit"} ADD TO CART
      %h4.col-sm-12
    .col-md-2
