.container-fluid
  .row
    .col-lg-4
    .col-lg-4
      .media
        %h4.media-heading= @book.title
        .media-left.media-middle
          =image_tag('no_img.png', class: "img-rounded")
        .media-body
          %p{:align => "justify"}= @book.description

        %h4.form.form-inline.text-center
          = number_to_currency @book.price
          %input.form-control
          %button.btn.btn-primary{:type => "submit"} ADD TO CART
    .col-lg-4


