- if @book.nil?
  %h3.error.text-center= t('books.no_books_found')
- else
  .container
    .row
      = render partial: "book", locals: {book: @book, text_title: true}
  .container
    .row
      = render "reviews"
