// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inline .form-control {
  width: 45px;
  display: inline;
}

.item.active {
  height: unset;
}

.item.next {
  height: unset;
}

#book-description {
  min-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books-description {
  height: 60px;
}

.books-title {
  height: 40px;
  overflow: hidden;
}

.thumbnail {
  height: 350px;
}

.thumbnail:hover {
  background: #F5F5F5;
}

.list-group-item:hover {
  background: #F5F5F5;
}

.left.carousel-control {
  background-image: none;
}

.right.carousel-control {
  background-image: none;
}

body {
  overflow-y: scroll;
}

/*jQuery Stars*/
span.stars, span.stars span {
  display: block;
  background: url(stars.png) 0 -16px repeat-x;
  width: 160px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
}
