// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inline .form-control {
  width: 45px;
  display: inline;
}

.item.active {
  height: unset;
}

.item.next {
  height: unset;
}

#bestseller-description {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books-description {
  height: 60px;
}

.books-title {
  height: 40px;
  overflow: hidden;
}

.thumbnail:hover {
  background: #F5F5F5;
}

.carousel-control {
  top: 50px;
  color: #E6E6E6;
}

.left.carousel-control {
  background-image: none;
}

.right.carousel-control {
  background-image: none;
}

body {
  overflow-y: scroll;
}
