.navbar-inverse .navbar-header .navbar-brand {
  color: #FFF;
}

span.glyphicon:nth-child(2) {
  color: white;
}

.navbar-btn {
  margin-left: 5px;
}

.btn-success.navbar-btn a{
  color: white;
}

.btn-default.navbar-btn a{
  color: black;
}
