.container
  .row
    .autopagerize_page_element
      %h3
        .ol.breadcrumb
          %li
            = link_to t('categories.shop'), books_path
          %li.active
            = t('categories.categories')
      - @categories.map do |category|
        %p
          %span.glyphicon.glyphicon-tag
            = link_to category.title, category
