.container
  .row
    %h3
      %ol.breadcrumb
        %li
          = link_to t('categories.shop'), books_path
        %li
          = link_to t('categories.categories'), categories_path
        %li.active
          = @category.title
    = render 'books/books_categories'
